{#

/**
 * OCAX -- Citizen driven Observatory software
 * Copyright (C) 2014 OCAX Contributors. See AUTHORS.

 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

$this->pageTitle=Config::model()->findByPk('siglas')->value . ' - '.__('Register');
#}

{% extends 'base.html.twig' %}

{% block body %}

<script>
$("input[type='checkbox']").each(function(){
	if(!$(this).is(':checked')) $(this).val("0");
	$(this).click(function(){
		if($(this).is(':checked'))
			$(this).val("1");
		else
			$(this).val("0");
	});
});
</script>


<style>
.outer{width:100%; padding: 0px; float: left;}
.left{width: 48%; float: left;  margin: 0px;}
.right{width: 48%; float: left; margin: 0px;}
.clear{clear:both;}
</style>

<h1 style="margin:-15px 0 15px 0">{% trans %}Register{% endtrans %}</h1>

<div class="outer">

<div class="form">
<?php $form=$this->beginWidget('CActiveForm', array(
 'id'=>'register-form',
 'enableClientValidation'=>true,
 'clientOptions'=>array(
 'validateOnSubmit'=>true,
 ),
)); ?>

<div class="left">

    <div style="width:100%">
    	<div class="row" style="width:38%; float:left;">
            <label for="RegisterForm_username" class="required">{% trans %}Username{% endtrans %}<span class="required">*</span></label>
            <input style="width:140px" name="RegisterForm[username]" id="RegisterForm_username" type="text">
            <div class="errorMessage" id="RegisterForm_username_em_" style="display:none"></div>
    	</div>

    	<div class="row" style="width:60%; float:left;">
            <label for="RegisterForm_fullname" class="required">{% trans %}Fullname{% endtrans %}<span class="required">*</span></label>
            <input style="width:250px" name="RegisterForm[fullname]" id="RegisterForm_fullname" type="text">
            <div class="errorMessage" id="RegisterForm_fullname_em_" style="display:none"></div>
        </div>
    </div>

<div style="width:100%">
	<div class="row" style="width:38%; float:left;"></div>
	<div class="row" style="width:38%; float:left;">
        <label for="RegisterForm_email" class="required">{% trans %}Email{% endtrans %}<span class="required">*</span></label>
        <input style="width:250px" name="RegisterForm[email]" id="RegisterForm_email" type="text">
        <div class="errorMessage" id="RegisterForm_email_em_" style="display:none"></div>
	</div>
</div>

<div style="width:100%">
	<div class="row" style="width:38%; float:left;">
        <label for="RegisterForm_password" class="required">{% trans %}Password{% endtrans %}<span class="required">*</span></label>
        <input style="width:140px" name="RegisterForm[password]" id="RegisterForm_password" type="password">
        <div class="errorMessage" id="RegisterForm_password_em_" style="display:none"></div>
	</div>

	<div class="row" style="width:38%; float:left;">
        <label for="RegisterForm_password_repeat" class="required">{% trans %}Confirm password{% endtrans %}<span class="required">*</span></label>
        <input style="width:140px" name="RegisterForm[password_repeat]" id="RegisterForm_password_repeat" type="password">
        <div class="errorMessage" id="RegisterForm_password_repeat_em_" style="display:none"></div>
	</div>
</div>
<div class="clear"></div>

<style>
#RegisterForm_verifyCode, #yw0_button { display: block; }
#yw0 {
	border:2px solid #ccc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
</style>

<div class="row" style="margin-top:20px">

{#
<?php if(CCaptcha::checkRequirements()): ?>

	<?php echo $form->labelEx($model,'verifyCode'); ?>
	<div>
	<?php $this->widget('CCaptcha'); ?>
	<?php echo $form->textField($model,'verifyCode',array('style'=>'width:116px')); ?>
	</div>

	<div class="hint" style="margin-top:-5px"><?php echo __('Please enter the letters as they are shown in the image above');?>.</div>
	<?php echo $form->error($model,'verifyCode'); ?>
	</div>
<?php endif; ?>
#}
	<div class="row buttons" style="margin-top:20px">
	       <input name="yt0" value="{% trans %}Register{% endtrans %}" type="submit">
	</div>
</div>

</div>
<div class="right">

{% trans %}REGISTER_MSG{% endtrans %}

<?php if(Config::model()->findByPk('membership')->value){ ?>
<div class="horizontalRule"></div>
<p>{% trans %}MEMBERSHIP_MSG{% endtrans %}</p>
<p>{% trans %}Yes, I want to be a member{% endtrans %}
    <input id="ytRegisterForm_is_socio" value="0" name="RegisterForm[is_socio]" type="hidden">
    <input name="RegisterForm[is_socio]" id="RegisterForm_is_socio" value="1" type="checkbox">
	<label for="RegisterForm_is_socio"></label>
</p>
<?php }else $model->is_socio = 0; ?>

</div>
<?php $this->endWidget(); ?>
</div><!-- form -->
</div>
{% endblock %}
