
#mainMbMenu {
	width:980px;
	margin:0 auto;
	cursor:pointer;
}
#mainMbMenu #nav-bar {
	padding:0px;
}
#mainMbMenu #nav-bar #nav
{
	padding: 0px;
	margin:0px;
	list-style:none;
}

#mainMbMenu #nav-bar #nav ul {
	width:auto;
}
#mainMbMenu #nav-bar #nav li {
	float:left;
}

#mainMbMenu #nav-bar #nav li.over { z-index:99; }
#mainMbMenu #nav-bar #nav li.active { z-index:100; }
#mainMbMenu #nav-bar #nav a, #mainMbMenu #nav-bar #nav a:hover { display:block; text-decoration:none; }
#mainMbMenu #nav-bar #nav span { display:block; }
#mainMbMenu #nav-bar #nav a { line-height:1.3em; }

#mainMbMenu #nav-bar #nav li a:hover, #mainMbMenu li.active a { }


#mainMbMenu #nav-bar #nav li.active em {
	display:block;
	position:absolute;
	top:0;
	width:3px;
	height:27px;
}
#mainMbMenu #nav-bar #nav a { padding:0 14px; line-height:27px; }

/************ 1ST LEVEL  ***************/
#mainMbMenu #nav-bar #nav li {
	padding:0px;
	margin:0px 2px 0 0px;
	position:relative;
	text-align:left;

}
#mainMbMenu #nav-bar #nav li a {
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

/************ 2ND LEVEL ************/
#mainMbMenu #nav-bar #nav ul {
	list-style-position:outside;
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	position:absolute;
	width:auto;
	white-space: nowrap;
	top:37px;
	left:-10000px;
}

#mainMbMenu #nav-bar #nav ul li,
#mainMbMenu #nav-bar #nav ul li.active{
	float:none;
	width:auto;
	height:auto;
}

#mainMbMenu #nav-bar #nav ul li a {
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding: 0;
	margin: 0;
}


/* Show menu */
#mainMbMenu #nav-bar #nav li.over ul { left:-2px; }
#mainMbMenu #nav-bar #nav li.over ul ul { left:-10000px; }
#mainMbMenu #nav-bar #nav li.over ul li.over ul { left:100px; }
#mainMbMenu #nav-bar #nav ul li { padding:0 2px; }
#mainMbMenu #nav-bar #nav ul span,
#mainMbMenu #nav-bar #nav ul li.last li span { padding:5px 15px; }
#mainMbMenu #nav-bar #nav ul li.last { padding-bottom:3px; }
#mainMbMenu #nav-bar #nav ul li.parent a,
#mainMbMenu #nav-bar #nav ul li.parent li.parent a { background-position:100%; }


