/* ******* sitePage ******** */

.sitePage_titulo
{
	font-size: 30pt;
	line-height: 100%;
	letter-spacing:-0.5pt;
	font-weight:200;
	margin-bottom:20px;
}
.sitePage_content{ font-size: 18px; 	}

p { font-size: 1em; }

h1 {
	line-height: 90%;
	font-size: 36pt;
	letter-spacing:-0.5pt;
	font-weight:200;
	margin-bottom:15px;
}

h2 {
	line-height: 90%;
	font-size: 28pt;
	letter-spacing:-0.5pt;
	font-weight:200;
	margin: 10px 0 13px 0;
}

h3 {
	line-height: 90%;
	font-size: 20pt;
	letter-spacing:-0.5pt;
	font-weight:200;
	margin: 8px 0 6px 0;
}

#sitePageOptions{
	font-size:1.5em;
	margin: -30px -25px 30px -25px;
	padding: 10px 0 10px 0;
	background-color:white;
}
#sitePageOptions a{
	padding: 12px 20px 12px 20px;
}
#sitePageOptions a:hover{
	background-color:#f5f1ed;
}


/* .activeMenuItem a {text-decoration:none;} */

.sitePageInsert
{
	font-size: 22px;
	font-weight:300;
	font-style: italic;
	display: inline-block;
	float:left;
	width: 350px;
	margin: 28px 25px 12px 0;
	padding: 5px 0 5px 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
